pkgbase = kiro-arc-kde
	pkgdesc = Arc theme for KDE Plasma (Kiro fork, latest master from kirodubes)
	pkgver = 26.06
	pkgrel = 01
	url = https://github.com/kirodubes/kiro-arc-kde
	arch = any
	license = GPL3
	makedepends = git
	optdepends = arc-gtk-theme: for a consistent look in GTK applications
	optdepends = konsole: for konsole theme
	optdepends = konversation: for konversation theme
	optdepends = kvantum: for kvantum theme (recommended)
	optdepends = papirus-icon-theme: for a more consistent and beautiful experience (recommended)
	optdepends = plasma-desktop: for plasma desktop theme
	optdepends = yakuake: for yakuake theme
	provides = arc-kde
	provides = kvantum-theme-arc
	conflicts = edu-arc-kde
	conflicts = arc-kde
	conflicts = arc-kde-git
	conflicts = kvantum-theme-arc
	replaces = edu-arc-kde
	replaces = arc-kde
	replaces = arc-kde-git
	replaces = kvantum-theme-arc
	source = kiro-arc-kde::git+https://github.com/kirodubes/kiro-arc-kde.git
	b2sums = SKIP

pkgname = kiro-arc-kde
